.main-second-news-container-wrapper,.main-second-news-container-wrapper .main-container-post {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 2em;
}

.main-second-news-container {
    display: flex;
    gap: 2em;
    width: 100%;
}

.side-container-categories{
    width: 340px;
}
