.category-page-container-wrapper{
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 2em;
    margin: 2em auto 0 auto;
}

.category-page-container{
    width: 70%;
}

.category-page-posts-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    padding: 1.5em;
    background-color: rgb(249,249,249);
    border: 1px solid rgb(232, 232, 232);
}

.category-page-container > h3{
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8em;
    background-color: white;
}


.category-post-card{
    display: flex;
    border: 1px solid rgb(236, 236, 236)
}

.category-post-img-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 45%;
    min-width: 45%;
    height: 17em;
}

.category-post-img-container img{
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.category-post-info{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: start;
    text-align: start;
    width: 65%;
    gap: 0.5em;
    background-color: white;
}

.category-post-timestamp{
    color: rgb(155, 155, 155);
}

.category-page-container-wrapper > .side-container-categories .categories-title {
    margin: 0;
}

@media(max-width:1400px) {
    .category-page-container-wrapper {
        width: 80%;
    }
}

@media(max-width:1200px) {
    .category-page-container-wrapper {
        width: 90%;
    }
    .category-page-posts-container{
        gap: 1em;
        padding: 1em;
    }

    .category-post-img-container{
        max-width: 60%;
    }

    .category-post-info{
        width: 40%;
    }

    .category-post-info h2{
        width: 80%;
        font-size: 20px;
    }
}

@media(max-width:1023px) {
    .category-page-container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category-page-container{
        width: 100%;
    }
    .category-post-info{
        width: 100%;
    }
    .category-post-info h2{
        font-size: 24px;
    }
}

@media(max-width:900px) {

    .category-post-info h2{
        width: 95%;
        font-size: 22px;
    }
    .category-post-img-container{
        height: 14em;
    }
}
@media(max-width:750px) {

    .category-post-info h2{
        font-size: 20px;
    }
    .category-post-img-container{
        height: 12em;
    }
}

@media(max-width:669px) {

    .category-post-card{
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .category-post-img-container{
        height: auto;
        max-width: 100%;
    }


    .category-post-info{
        display: flex;
        align-items: center;
    }
    .category-post-info h2 {
        text-align: center;
    }
}

@media(max-width:500px){
    .category-page-container{
        margin-bottom: 2em;
    }
}
@media(max-width:400px){
    .category-post-info h2 {
       font-size: 16px;
    }
}