* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  background-color: rgb(240, 240, 240);
  max-width: 100vw;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.page-container-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container{
  flex: 1;
}
.red-text-animation:hover {
  color: rgb(218, 79, 90);
  cursor: pointer;
  /* 
  Add this to html element in tsx file 
  style={{
    transition: "color 0.3s ease-in-out",
  }} 
    */
}