* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  background-color: rgb(240, 240, 240);
  max-width: 100vw;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.page-container-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
}

.page-container{
  flex: 1;
  max-width: 100vw;
}
.red-text-animation:hover {
  color: rgb(218, 79, 90);
  cursor: pointer;
  /* 
  Add this to html element in tsx file 
  style={{
    transition: "color 0.3s ease-in-out",
  }} 
    */
}

/* Colors for different category paragraphs */

 /* Food */

 .main-new-parahraph-food{
  background-color: #61c436;
}

.main-new-parahraph-food:hover{
  background-color: #57b031;
}
.main-new-parahraph-food-color{
  color: #61c436;
}
.main-new-parahraph-food-color:hover{
  text-decoration: underline;
  cursor: pointer;

}

.main-new-parahraph-food-border-top{
  border-top: 1px solid #61c436;
}

/* Technology */

.main-new-parahraph-technology{
  background-color: #607ec7;
}

.main-new-parahraph-technology:hover{
  background-color: #5771b4;
}

.main-new-parahraph-technology-color{
  color: #607ec7;
}
.main-new-parahraph-technology-color:hover{
  text-decoration: underline;
  cursor: pointer;

}

.main-new-parahraph-food-border-top{
  border-top: 1px solid #61c436;
}

/* Fashion */

.main-new-parahraph-fashion{
  background-color: #e54e7e;
}

.main-new-parahraph-fashion:hover{
  background-color: #d64976;
}

.main-new-parahraph-fashion-color{
  color: #e54e7e;
}
.main-new-parahraph-fashion-color:hover{
  text-decoration: underline;
  cursor: pointer;

}

.main-new-parahraph-fashion-border-top{
  border-top: 1px solid #e54e7e;
}



/* Lifestyle */

.main-new-parahraph-lifestyle{
  background-color: #f4b23f;
}

.main-new-parahraph-lifestyle:hover{
  background-color: #e2a53b;
}

.main-new-parahraph-lifestyle-color{
  color: #f4b23f;
}
.main-new-parahraph-lifestyle-color:hover{
  text-decoration: underline;
  cursor: pointer;

}

.main-new-parahraph-lifestyle-border-top{
  border-top: 1px solid #f4b23f;
}


/* Environment */

.main-new-parahraph-environment{
  background-color: #9b51e0;
}

.main-new-parahraph-environment:hover{
  background-color: #8c49cb;
}

.main-new-parahraph-environment-color{
  color: #9b51e0;
}
.main-new-parahraph-environment-color:hover{
  text-decoration: underline;
  cursor: pointer;

}

.main-new-parahraph-environment-border-top{
  border-top: 1px solid #9b51e0;
}

/* Music */

.main-new-parahraph-music{
  background-color: #46c49c;
}

.main-new-parahraph-music:hover{
  background-color: #3ca785;
}

.main-new-parahraph-music-color{
  color: #46c49c;
}
.main-new-parahraph-music-color:hover{
  text-decoration: underline;
  cursor: pointer;
}

.main-new-parahraph-music-border-top{
  border-top: 1px solid #46c49c;
}