.bigger-main-one-post-container-wrapper{   
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 2em;
}

.big-main-one-post-container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.main-one-post-container-wrapper{
    display: flex;
    gap: 2em;
}

.main-one-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 2em;
    background-color: rgb(255,255,255);
    
}

.one-post-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 0.5em;
    padding: 2em 0 0 0;
}

.one-post-head h2{
    margin-bottom: 1em;
}

.one-post-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 2em;
}
.one-post-img-container img{
    width: 100%;
    height: auto;
}

.one-post-writer{
    color: rgb(225,70,58);
}
.one-post-writer:hover{
    text-decoration: underline;
    cursor: pointer;
}

.one-post-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5em;
    text-align: start;
}

.one-post-subtitle{
    font-weight: 600;
    margin: 3em 0;
}

