.bigger-main-one-post-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    gap: 2em;
}

.big-main-one-post-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

@media(max-width:1400px) {
    .bigger-main-one-post-container-wrapper {
        width: 80%;
    }
}

@media(max-width:1200px) {
    .bigger-main-one-post-container-wrapper {
        width: 90%;
    }
}

