.footer-content-wrapper{
    display: flex;
    justify-content: center;
    background-color: rgb(55,57,65);
}

.footer-content{
    display: flex;
    width: 70%;
    gap: 2em;
    padding: 2.5em 0;
}

.footer-content > *{
    width: 30%;
    background-color: rgb(44,46,52);
    color: white;
}

.footer-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-card-wrapper h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgb(37,39,44);
    padding: 0.5em 0;
}
