.latest-posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(42vw + 2em);
}

.latest-posts-container .categories-title{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 0 1em 0;
    padding: 1em 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
}

.latest-posts-container .latest-posts-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.latest-posts-wrapper .latest-post-card{
    display: flex;
}

.latest-posts-wrapper .latest-post-card .latest-post-img-conatainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    overflow: hidden;
}

.latest-posts-wrapper .latest-post-card .latest-post-img-conatainer img{
    width: 400px;
    height: auto;
}

.latest-posts-wrapper .latest-post-card .latest-post-info{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: start;
    text-align: start;
    width: 65%;
    gap: 0.5em;
    background-color: white;
}

.latest-posts-wrapper .latest-post-card .latest-post-info .latest-post-timestamp{
    color: rgb(155,155,155);
}