.main-new-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 0.1em;
    color: white;
}

.wrapper-main-new-card{
    overflow: hidden;
    background-color: black;
    cursor: pointer;
}
.main-new-card{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 433px;
    width: calc(100vw / 3);
    overflow: hidden;
    gap: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.main-new-card:hover{
    background-repeat: no-repeat;
    background-position: center;
}



.main-new-card .main-new-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.main-new-container p,
.main-new-container h2 {
    position: relative;
    z-index: 2;
}

.main-new-card h2{
    font-size: 30px;
}

.main-new-card p{
    max-width: fit-content;
    font-size: 18px;
    padding: 0.1em 10px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
}

 /* Colors for different category paragraphs */

 /* Food */

.main-new-parahraph-food{
    background-color: #61c436;
}

.main-new-parahraph-food:hover{
    background-color: #57b031;
}

/* Technology */

.main-new-parahraph-technology{
    background-color: #607ec7;
}

.main-new-parahraph-technology:hover{
    background-color: #5771b4;
}

/* Fashion */

.main-new-parahraph-fashion{
    background-color: #ca85ca;
}

.main-new-parahraph-fashion:hover{
    background-color: #a86fa8;
}