.main-new-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 0.1em;
    color: white;
}

.wrapper-main-new-card{
    overflow: hidden;
    background-color: black;
    cursor: pointer;
}
.main-new-card{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 433px;
    width: calc(100vw / 3);
    overflow: hidden;
    gap: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.main-new-card:hover{
    background-repeat: no-repeat;
    background-position: center;
}



.main-new-card .main-new-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.main-new-container p,
.main-new-container h2 {
    position: relative;
    z-index: 2;
}

.main-new-card h2{
    font-size: 30px;
}

.main-new-card p{
    max-width: fit-content;
    font-size: 18px;
    padding: 0.1em 10px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
}

 /* Colors for different category paragraphs */

 /* Food */

.main-new-parahraph-food{
    background-color: #61c436;
}

.main-new-parahraph-food:hover{
    background-color: #57b031;
}
.main-new-parahraph-food-color{
    color: #61c436;
}
.main-new-parahraph-food-color:hover{
    text-decoration: underline;
    cursor: pointer;

}

.main-new-parahraph-food-border-top{
    border-top: 1px solid #61c436;
}

/* Technology */

.main-new-parahraph-technology{
    background-color: #607ec7;
}

.main-new-parahraph-technology:hover{
    background-color: #5771b4;
}

.main-new-parahraph-technology-color{
    color: #607ec7;
}
.main-new-parahraph-technology-color:hover{
    text-decoration: underline;
    cursor: pointer;

}

.main-new-parahraph-food-border-top{
    border-top: 1px solid #61c436;
}

/* Fashion */

.main-new-parahraph-fashion{
    background-color: #ca85ca;
}

.main-new-parahraph-fashion:hover{
    background-color: #a86fa8;
}

.main-new-parahraph-fashion-color{
    color: #ca85ca;
}
.main-new-parahraph-fashion-color:hover{
    text-decoration: underline;
    cursor: pointer;

}

.main-new-parahraph-fashion-border-top{
    border-top: 1px solid #ca85ca;
}



/* Lifestyle */

.main-new-parahraph-lifestyle{
    background-color: #f4b23f;
}

.main-new-parahraph-lifestyle:hover{
    background-color: #e2a53b;
}

.main-new-parahraph-lifestyle-color{
    color: #f4b23f;
}
.main-new-parahraph-lifestyle-color:hover{
    text-decoration: underline;
    cursor: pointer;

}

.main-new-parahraph-lifestyle-border-top{
    border-top: 1px solid #f4b23f;
}


/* Environment */

.main-new-parahraph-environment{
    background-color: #9b51e0;
}

.main-new-parahraph-environment:hover{
    background-color: #8c49cb;
}

.main-new-parahraph-environment-color{
    color: #9b51e0;
}
.main-new-parahraph-environment-color:hover{
    text-decoration: underline;
    cursor: pointer;

}

.main-new-parahraph-environment-border-top{
    border-top: 1px solid #9b51e0;
}

/* Music */

.main-new-parahraph-music{
    background-color: #46c49c;
}

.main-new-parahraph-music:hover{
    background-color: #3ca785;
}

.main-new-parahraph-music-color{
    color: #46c49c;
}
.main-new-parahraph-music-color:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main-new-parahraph-music-border-top{
    border-top: 1px solid #46c49c;
}