.main-navigation-div{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(192, 66, 54);
    padding: 1em 0;
    color:white;
    font-size: 16px;
    gap: 30em;
}

.main-navigation-div ul {
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}

.main-navigation-div .socials{
    display: flex;
    gap: 2em;
    align-items: center;
}
.main-image{
    width: 10%;
}
.main-image img{
    width: 100%;
    height: auto;
    margin: 3em 0 3em 18.5em;
}