.main-navigation-div-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

.main-navigation-div{
    display: flex;
    background-color: rgb(192, 66, 54);
    padding: 1em 3em;
    color:white;
    font-size: 16px;
  
}

.main-navigation-div ul {
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}

.main-navigation-div .pages{
    flex: 1;
    cursor: pointer;
}
.main-navigation-div .pages ul li:hover{
    text-decoration: underline;
}

.main-navigation-div .socials{
    display: flex;
    gap: 2em;
    align-items: center;
}

.main-navigation-div .socials>*{
    cursor: pointer;
}

.main-image-wrapper{
    display: flex;
    position: relative;
    padding: 3em;
}

.main-image{
    display: flex;
    width: 10%;
    cursor: pointer;
}
.main-image img{
    width: 100%;
    height: auto;
}

.navigation-button-bars{
    position: absolute;
    left: 0;
    color: red;
    font-size: 30px;
}

@media(max-width:1023px){
    .main-image-wrapper{
        justify-content: center;
        align-items: center;
        margin: 0 3em;
        padding: 1em 0;
    }
    .main-image{
        width: 15%;
    }
}